*{
  font-family: Roboto !important;
}
:root {
  --text: #fff;
  --text-h: #fff;
  --bg: #051540;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --text-h: #fff;
    --bg: #051540;
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100svh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 32px 0;
  @media (max-width: 768px) {
    font-size: 28px;
    font-weight: 800;
  }
}
h2 {
  font-size: 24px; 
  line-height: 118%;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
  font-size: 15px;
}
:link {
  color:#fff;
  text-decoration: underline;
  font-size: 18px;
}